* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}

.input {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}

.input-address {
    width: 690px;
    background-image: url(../img/home.svg);
}

.input-search {
    flex: 0.8;
    background-image: url(../img/search.svg);
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: 595959;
    font-size: 16px;
    line-height: 24px;
}

.button-primary {
    background: #1890ff;
    border: 1px solid #1890ff;
    color: white;
    margin-right: 10px;
}

.button-icon {
    vertical-align: middle;
    margin-right: 6px;
}

.button-text {
    vertical-align: middle;
}

.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/promo-img1.png) no-repeat top 60px right -200px / 675px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}

.promo-text {
    max-width: 538px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;

}

.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 30%;
}

.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margine: 0;
}

.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rating {
    margin-right: 26px;
    color: #FFC107;
}

.price,
.category {
    color: #8C8C8C;
    font-size: 18px;
    line-height: 32px;
}

.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}

.price {
    margin-right: 10px;
}

.price:after {
    content: "";
    height: 5px;
    width: 5px;
    background: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}

.footer {
    padding: 60px 0px;
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}

.footer-link {
    display: inline;
    color: #595959;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.footer-link:not(:last-child) {
    margin-right: 15px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link:not(:last-child) {
    margin-right: 21px;
}

@media (max-width: 1366px) {
    .container {
        max-width: 950px;
    }

    .promo {
        background-position: center right -200px;
        background-size: 600px;
    }

    .rating {
        margin-right: 15px;
    }

    .category,
    .price {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .promo {
        padding: 50px;
        background-position: center right -200px;
        background-size: 480px;
    }

    .promo-text {
        font-size: 18px;
        max-width: 400px;
    }
}